/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Home Mobile Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#home-page{
    margin: 0px;
}

.nav-content {
    display: flex;
    height: 190px;
    width: 100%;
}

.logo {
    background-color: #F5005B;
    padding: 4% 3%;
    width: 40%;
    height: 157px;
}

.nav-row {
    width: 100%;
    padding: 0px;
}

.nav-item {
    list-style: none;
    height: 48%;
    display: flex;
    margin-top: -15px;
}

.nav-item a {
    color: #FFFFFF;
    height: 50%;
    text-decoration: none;
}

#Home {
    background-color: #00A5BF;
    padding: 7% 50% 6% 50%;
}

#Calendar {
    background-color: #00B7D3;
    padding: 7% 50% 6% 50%;
}

#Join {
    background-color: #00D5e7;
    padding: 7% 50% 6% 50%;
}

.header-container {
    margin: 7% 5%;
}

.header-container h2 {
    background-color: #0B1942;
    color: #FFFFFF;
    style
}

.Mhome-container {
    background-color: #0B1942;
    padding: 3%;
}

.Mhome-container h1 {
    color: #FFFFFF;
}

.film-container {
    background-color: #FFFFFF;
    margin: 4%;
    display: flex;
    padding-bottom: 8%;
    height: 100%;
}

.rashomon-list {
    list-style-type: circle;
}

.films-container {
    background-color: #FFFFFF;
    margin: 0px 4% 4% 4%;
    padding: 5%;
    width: 82%;
    height: 75%;
    display: flex;
    flex-flow: row wrap;
}

.films{
    width: 50%;
    height: 50%;
    margin: 0px;
}

#home-img {
    width: 45%;
    height: 75%;;
    padding: 5%;
}

#films-img {
    width: 90%;
}

.home-footer {
    width: 100%;
}

.nav-footer {
    margin: -5%;
}

.nfooter-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
}

.nfooter-item a {
    color: white;
    text-decoration: none;
}

#Home-footer {
    background-color: #00A5BF;
    padding: 7% 50% 6% 50%;
}

#Calendar-footer {
    background-color: #00B7D3;
    padding: 7% 50% 6% 50%;
}

#Join-footer {
    background-color: #00D5e7;
    padding: 7% 50% 6% 50%;
    margin-left: -4%;
}


.span {
    background-color: #80d5df;
    padding: 10% 35%;
    width: 35%;
    float: left;
    color: #FFFFFF;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Home Tablet Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 545px) and (max-width: 768px) {
    .nav-content {
        background-color: #80D5DF;
        height: 10%;
    }
    .logo {
        padding: 1%;
        height: 141px;
        width: 15%;
    }
    .nav-item {
        display: inline-block;
        margin-top: 8%;
    }

    #Home {
        padding: 75px 30px;
    }

    #Calendar {
        padding: 75px 50%;
        margin-left: -10%;
    }

    #Join {
        padding: 75px 55%;
        margin-left: 45px;
    }

    .header-section h1 {
        margin-top: 5%;
        margin-left: 7%;
        margin-bottom: -3%;
    }

    .header-container {
        display: flex;
    }

    .header {
        margin: 2%;
    }

    hr {
        border: 1px solid gray;
        width: 190%;
    }

    #home-img {
        padding: 3%;
    }

    .films {
        width: 25%;
    }

    .footer-container {
        margin-top: 5%;
    }

    .nfooter-item {
        display: inline-block;
    }

    .span {
        display: flex;
        justify-content: flex-end;
    }

    #Home-footer {
        padding: 75px 30px;
    }

    #Calendar-footer {
        padding: 75px 50%;
        margin-left: -10%;
    }

    #Join-footer {
        padding: 75px 55%;
        margin-left: 45px;
    }
    
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Home Desktop Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width:769px) {
    .nav-content {
        background-color: #80D5DF;
        height: 10%;
    }
    .logo {
        padding: 1%;
        height: 141px;
        width: 15%;
    }
    .nav-item {
        display: inline-block;
        margin-top: 8%;
    }

    #Home {
        padding: 75px 30px;
    }

    #Calendar {
        padding: 75px 50%;
        margin-left: -10%;
    }

    #Join {
        padding: 75px 55%;
        margin-left: 45px;
    }

    .header-section h1 {
        margin-top: 5%;
        margin-left: 7%;
        margin-bottom: -3%;
    }

    .header-container {
        display: flex;
    }

    .header {
        margin: 2%;
    }

    .Mhome-holder {
        display: flex;
    }

    .film-container {
        width: 85%;
    }
    .nav-footer{
    }

    .nfooter-item {
        display: inline-block;
    }

    .nfooter-item a {
    }

    .span {
        display: flex;
        justify-content: flex-end;
    }

    #Home-footer {
        padding: 75px 30px;
    }

    #Calendar-footer {
        padding: 75px 50%;
        margin-left: -10%;
    }

    #Join-footer {
        padding: 75px 55%;
        margin-left: 45px;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Calendar Mobile Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#calendar-page {
    margin: 0px;
}

.calendar-container {
    background-color: #0B1942;
}

.calendar-h2 {
    color: #FFFFFF;
}
.calendar {
    width: 100%;
    margin-left: -35px;
}

table {
    width: 100%;
}

.t-day {
    background-color: #FFFFFF;
    list-style: none;
    display: inline-block;
    width: 13%;
    height: 20%;
    border: 1px solid #0B1942;
}

.highlighted {
    background-color: #F5005B;
    list-style: none;
    display: inline-block;
    width: 13%;
    height: 20%;
    border: 1px solid #0B1942;
}

.highlighted h3 {
    background-color: #0B1942;
    color: #FFFFFF;
    float: left;
}


.t-day h3 {
    background-color: #0B1942;
    color: #FFFFFF;
    float: left;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Calendar Tablet Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 545px) and (max-width: 768px){
    .highlighted {
        height: 90px;
    }

    .t-day{
        height: 90px;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Calendar Desktop Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 769px) {
    .highlighted {
        height: 145px;
    }

    .t-day{
        height: 145px;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Join Mobile Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.prof-pic {
    border-radius: 50%;
    width: 70%;
    margin: 10%;
}

.signup {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.inputcontainer {
    margin: 5%;
}

.input {
    width: 80%;
    height: 50px;
}

.submitcontainer {
    margin: 5%;
}

.submit {
    padding: 4% 6%;
    background-color: red;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Join Tablet Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 545px) and (max-width: 768px){
    .prof-pic {
        width: 40%;
        float: left;
    }

    .signup label {
        margin-top: 9%;
        margin-bottom: 10%;
    }

    .checkbox {
        width: 500px;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 350px

    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Join Desktop Version
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 769px) {
    .prof-pic {
        width: 25%;
        float: left;
    }
    
    .signup {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15%;
        margin-top: 18%;
        padding: 2%;
    }

    .signup input {
        margin: 2%;
        padding: 1%;
    }

    .checkbox {
        width: 500px;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 230px;
    }

    .submit{
        padding: 2% 8%;
    }

    .footer-container {
        margin-top: 17%;
        margin-left: -7%;
    }
}
